<!-- <div
  #unit
  [ngDraggable]="true"
  [bounds]="myBounds"
  [inBounds]="true"
  [handle]="handler"
  [gridSize]="(data | async)!.gridUnit"
  zIndex="100"
  [preventDefaultEvent]="false"
  class="drag-grid"
  [style.width]="(data | async)!.unitWidthScss"
  [style.height]="(data | async)!.unitHeightScss"
  (mouseleave)="onDrop($event)"
  zIndexMoving="200"
  [position]="{ x: 180, y: 250 }"
>
  <div zIndex="1000" [ngDraggable]="false" #handler class="handler-bottom">
    <mat-icon class="material-symbols-outlined">open_with</mat-icon>
  </div>

  <div *ngFor="let x of (data | async)?.unitRankGrids">
    <div *ngFor="let y of (data | async)?.unitFileGrids">
      <div
        [gridSize]="(data | async)!.gridUnit"
        [ngDraggable]="false"
        [bounds]="unit"
        [inBounds]="true"
        [position]="{
          x: x * (data | async)!.unitRFWidth,
          y: y * (data | async)!.unitRFHeight
        }"
        class="drag-grid2"
        [style.width]="(data | async)!.unitRFWidthScss"
        [style.height]="(data | async)!.unitRFHeightScss"
        zIndex="110"
      ></div>
    </div>
  </div>
  <div *ngFor="let file of (data | async)!.fileYPlaces; index as y">
    <div *ngFor="let rank of (data | async)!.rankXPlaces; index as x">
      <div
        [class]="(data | async)!.player"
        [style.width]="(data | async)!.unitRFWidthScss"
        [style.height]="(data | async)!.unitRFHeightScss"
        ngDraggable
        [bounds]="unit"
        [inBounds]="true"
        [gridSize]="(data | async)!.gridUnit"
        zIndex="200"
        id="x={{ rank }},y={{ y }} "
        [position]="{
          x: rank * (data | async)!.unitRFWidth,
          y: file * (data | async)!.unitRFHeight
        }"
      ></div>
    </div>
  </div>
  <div *ngIf="(data | async)!.RaFRest">
    <div
      *ngFor="let rank of (data | async)!.RaFRest"
      [class]="(data | async)!.player"
      ngDraggable
      [bounds]="unit"
      [inBounds]="true"
      [style.width]="(data | async)!.unitRFWidthScss"
      [style.height]="(data | async)!.unitRFHeightScss"
      [gridSize]="(data | async)!.gridUnit"
      zIndex="200"
      id="x={{ rank }},y={{ (data | async)!.fileYPlaces.length + 1 }} "
      [position]="{
        x: rank * (data | async)!.unitRFWidth,
        y: (data | async)!.unitFileGrids.length * (data | async)!.unitRFHeight
      }"
    ></div>
  </div>
</div> -->
