<div class="wrapper">
  <mat-card>
    <mat-card-header>
        <mat-card-title class="mat-headline-3">{{ unit.name }}</mat-card-title>
      
    </mat-card-header>
    <mat-card-content>
        <div class="statLine">
      <div class="stat">
        <b>Adv</b>
        <div>{{ unit.carac.adv }}</div>
      </div>
      <div class="stat">
        <b>Mar</b>
        <div>{{ unit.carac.mar }}</div>
      </div>
      <div class="stat">
        <b>Dis</b>
        <div>{{ unit.carac.dis }}</div>
      </div>
      <div class="stat">
        <b>HP</b>
        <div>{{ unit.carac.hp }}</div>
      </div>
      <div class="stat">
        <b>Def</b>
        <div>{{ unit.carac.def }}</div>
      </div>
      <div class="stat">
        <b>Res</b>
        <div>{{ unit.carac.res }}</div>
      </div>
      <div class="stat">
        <b>Arm</b>
        <div>{{ unit.carac.arm }}</div>
      </div>
      <div class="stat">
        <b>Att</b>
        <div>{{ unit.carac.att }}</div>
      </div>
      <div class="stat">
        <b>Off</b>
        <div>{{ unit.carac.of }}</div>
      </div>
      <div class="stat">
        <b>Str</b>
        <div>{{ unit.carac.str }}</div>
      </div>
      <div class="stat">
        <b>AP</b>
        <div>{{ unit.carac.ap }}</div>
      </div>
      <div class="stat">
        <b>Agi</b>
        <div>{{ unit.carac.agi }}</div>
      </div>
      <div class="stat">
        <b>Adv</b>
        <div>{{ unit.carac.adv }}</div>
      </div>
      <div class="stat">
        <b>Height</b>
        <div>{{ unit.carac.height }}</div>
      </div>
      <div class="stat">
        <b>Type</b>
        <div>{{ unit.carac.unit_type }}</div>
      </div>
      <div class="stat">
        <b>Base</b>
        <div>{{ unit.carac.base }}</div>
      </div>

      <mat-form-field>
        <mat-label>Options</mat-label>
        <mat-select>
          <mat-option *ngFor="let option of unit.unit_options" value="option.name">
            {{option.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div *ngFor="let rule of unit.model_rule_unit_troops">
        {{rule.name}}, 
    </div>
    </mat-card-content>

  </mat-card>
</div>
