<div
  #unit
  #test
  [ngDraggable]="true"
  [bounds]="myBounds"
  [inBounds]="true"
  [handle]="handler"
  [gridSize]="(data | async)!.gridUnit"
  zIndex="100"
  [preventDefaultEvent]="false"
  class="drag-grid"
  (mouseleave)="onDrop($event)"
  zIndexMoving="200"
  [position]="{ x: 180, y: 250 }"
>
  <div zIndex="1000" [ngDraggable]="false" #handler class="handler-top">
    <mat-icon class="material-symbols-outlined">open_with</mat-icon>
  </div>

  <div *ngFor="let x of (data | async)?.unitRankGrids">
    <div *ngFor="let y of (data | async)?.unitFileGrids">
      <div
        [gridSize]="(data | async)!.gridUnit"
        [ngDraggable]="false"
        [bounds]="unit"
        [inBounds]="true"
        [position]="{
          x: x * (data | async)!.unitRFWidth,
          y: y * (data | async)!.unitRFHeight
        }"
        class="drag-grid2"
        zIndex="110"
      ></div>
    </div>
  </div>
  <div *ngFor="let file of (data | async)!.fileYPlaces; index as y">
    <div *ngFor="let rank of (data | async)!.rankXPlaces; index as x">
      <div
        [class]="unitColorScss"
        ngDraggable
        [bounds]="unit"
        [inBounds]="true"
        [gridSize]="(data | async)!.gridUnit"
        zIndex="200"
        id="x={{ rank }},y={{ y }} "
        [position]="{
          x: rank * (data | async)!.unitRFWidth,
          y:
            ((data | async)!.unitFileGrids.length - file - 1) *
            (data | async)!.unitRFHeight
        }"
      ></div>
    </div>
  </div>
  <div *ngIf="(data | async)!.RaFRest">
    <div
      *ngFor="let rank of (data | async)!.RaFRest"
      [class]="unitColorScss"
      ngDraggable
      [bounds]="unit"
      [inBounds]="true"
      [gridSize]="(data | async)!.gridUnit"
      zIndex="200"
      id="x={{ rank }},y={{ (data | async)!.fileYPlaces.length + 1 }} "
      [position]="{
        x: rank * (data | async)!.unitRFWidth,
        y:
          (-1 +
            (data | async)!.unitFileGrids.length -
            (data | async)!.fileYPlaces.length) *
          (data | async)!.unitRFHeight
      }"
    ></div>
  </div>
</div>
<div>rankPlaces {{ (data | async)?.fileYPlaces }}</div>
<div>rankPlaces {{ ID }}</div>
