$grid_unit: var(--gridUnitScss);

.container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  // display: grid;
  // grid-template-columns: 1fr 5fr 1fr;
  // grid-template-rows: 1fr 5fr 1fr;
}

.grid-container {
  place-self: center;
  //display: flex;
  //justify-content: center;
  //align-items: center;
  // grid-column: 2/3;
  // grid-row: 2/3;
  width: 53%;
  height: 56%;
  position: relative;
  padding: 0;
  margin: 0;
}

.grid {
  position: absolute;
  width: $grid_unit;
  height: $grid_unit;
  background-color: #20c997;
  color: white;
  text-align: center;
  padding: 0;
  margin: 0;
  border: 1px solid #067002;
}

.grid:hover {
  background-color: var(--color-warn);
}
